<h1>"SHOW ME"</h1>
 <div class="col-xs-12 col-sm-4">

          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= @apt["imageUrl"] %>);">
            <div class="card-category">Popular</div>
            <div class="card-description">
              <h2><%= @apt["name"]%></h2>
              <p><%= "#{@apt["price"]} #{@apt["priceCurrency"]}" %></p>
            </div>
          </div>

        </div>
